* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Muli;
  font-weight: 400;
}
ul {
  float: right;
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content:  space-around;
  height: 72.13px;
  line-height: 72.13px;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  padding: 15px 15px;
  font-family: sans-serif;
  border: 0px 0px;
  font-size: 15px;
  font-weight: 400;
  color: #14141c;
}

.bluebg {
  background-color: rgb(22, 22, 186);
  height: 770px;
  width: 1900px;
}

.pic {
  display: -webkit-box;
  margin-left: 1000px;
}

.bluebg-text {
  color: white;
  width: 600px;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar input[type="text"] {
  float: right;
  
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;

  padding: 0 14px;
  height: 40px;
  line-height: 40px;
}
